#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__subjects {
  display: grid;
  grid-template-columns: auto auto auto;
}

.app__voteData {
  width: 50%;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid rgb(174, 174, 174);
  margin: 50px;
}

.app_disclaimers {
  margin: 50px;
}

.app__subjects_SE {
  background-color: #0088FE;
}

.app__subjects_BS {
  background-color: #00C49F;
}

.app__subjects_F {
  background-color: #FFBB28;
}

.app__subjects_MS {
  background-color: #FF8042;
}

.app__subjects_E {
  background-color: #DA2700;
}

.app__subjects_P {
  background-color: #B110F2;
}